@import 'tailwindcss';
@plugin "@iconify/tailwind4";

@theme {
  --color-primary: #7cad33;
  --color-menu: #0094a5;
}

/* 隐藏 Leva 调试面板 */
#leva__root {
  display: none !important;
}

@utility font-body {
  font-family: 'Pompiere', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@utility font-title {
  font-family: 'Luckiest Guy', cursive;
  font-weight: 400;
  font-style: normal;
}

@utility text-shadow {
  text-shadow: 2px 2px 2px black;
}

@utility text-shadow-sm {
  text-shadow: 1px 1px 1px black;
}

@utility cursor-auto {
  cursor: url('/cursors/auto.png'), auto;
}

@utility cursor-pointer {
  cursor: url('/cursors/pointer.png'), pointer;
}

@utility cursor-grab {
  cursor: url('/cursors/grab.png'), grab;
}

@utility cursor-grabbing {
  cursor: url('/cursors/grabbing.png'), grabbing;
}

/* Prevent iOS text selection */
body,
* {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @apply cursor-auto;
}

a,
button,
a *,
button * {
  @apply cursor-pointer;
}

@layer base {
  html,
  body,
  #root {
    @apply fixed inset-0 overflow-hidden bg-radial bg-menu;
  }

  button:not(.overlay-button) {
    @apply border border-white text-white rounded-full px-4 py-2 text-3xl w-50 inline-flex items-center gap-2 font-bold bg-white/20 hover:bg-white/50 active:bg-white/50 shadow-xs shadow-black text-shadow;
  }

  button.sm {
    @apply text-2xl w-40 px-4;
  }

  button:has(> span[class^='icon']:only-child) {
    @apply p-2 w-fit;
  }

  button span:nth-child(2) {
    @apply mx-auto;
  }

  button:disabled {
    @apply opacity-20 pointer-events-none;
  }

  a {
    @apply underline;
  }

  .adhs-container {
    @apply bg-transparent! bg-gradient-to-t from-black from-50% to-transparent;
  }
  .adhs-container::after {
    @apply content-[''] fixed right-5 top-5 flex icon-[solar--close-circle-bold] bg-white text-5xl cursor-pointer;
  }
}

@layer components {
  .overlay div {
    @apply pointer-events-none! cursor-none!;
  }

  .overlay-content {
    /* border + border-radius causes glitch in firefox, so use shadow workaround */
    @apply shadow-white shadow-[0_0_0_1px_rgba(0,0,0,1)];
    @apply font-title text-center text-white text-shadow-sm rounded-lg;
    @apply flex items-center justify-center bg-white/20;
  }

  .overlay-button {
    @apply rounded-full flex items-center justify-center text-sm md:text-xs p-1 hover:bg-white/50 active:bg-white/50;
  }

  .menu {
    @apply inset-0 w-screen h-[100dvh] absolute font-body pointer-events-none;
  }

  .menu-section {
    @apply w-full h-full flex flex-col justify-center items-center gap-5 text-white text-shadow pointer-events-auto;
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

@media screen and (orientation: landscape) and (max-height: 600px) {
  body::before {
    content: 'Oops! This pond is too tiny…\AGive the fish some vertical space!';
    @apply uppercase text-center font-body flex justify-center items-center fixed inset-0 text-white bg-black text-2xl z-1 whitespace-pre;
  }
  body * {
    @apply pointer-events-none;
  }
}
